<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-title>Skills</ion-title>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
      </ion-thumbnail>
      <ion-label>I have basic understanding of Javascript</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
      </ion-thumbnail>
      <ion-label>I'm now studying Ionic framework
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
    
      </ion-thumbnail>
      <ion-label>I will continue studying ionic in fall</ion-label>
    </ion-item>
    <ion-item>
     

    <ion-item-divider>
      <ion-title>About me as worker</ion-title>

        <ion-list>
            <ion-item>
              <ion-label>I get along well with people (usually)</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>I'm hard worker and a quick learner</ion-label>
            </ion-item>
          </ion-list>
    </ion-item-divider>