<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About me</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="happy"></ion-icon>
      <ion-title>
       Hello my name is Sami Saarikivi
      </ion-title>
    </ion-item>
    <ion-item>
      <ion-icon name="body"></ion-icon>
      <ion-title>
        I'm 29 years old
      </ion-title>
    </ion-item>
    <ion-item>
      <ion-icon name="school"></ion-icon>
      <ion-title>
        I'm a 2nd year student at Business Information Technology at Laurea University of applied sciences
      </ion-title>
    </ion-item>
    <ion-item>
      <ion-icon name="outlet"></ion-icon>
      <ion-title>
        I'm interested about technology and creating my own application
      </ion-title>
    </ion-item>
    <ion-item>
      <ion-icon name="football"></ion-icon>
      <ion-title>
        I like watching sports
      </ion-title>
    </ion-item>
    
      <ion-item>
      <ion-icon name="airplane"></ion-icon>
      <ion-title>
          I like travelling
        </ion-title>
        </ion-item>
  </ion-list>
</ion-content>