<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
       <a href="mailto:sami.saarikivi@student.laurea.fi"> Email</a>
      
    </ion-item>
    
    <ion-item>
      
     <a href="https://github.com/Sami-SS/"> Github</a>
    </ion-item>
    <ion-item>Phone 0505318646</ion-item>
  </ion-list>
</ion-content>